body,
table,
td,
textarea,
blockquote {
  font: 8pt Verdana, Arial;
  line-height: 1.3;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
ul{
  margin: 0 !important;
}

/* MAIN INFO BLOCK */
div.main-info-block {
  min-width: 210px;
}

h2.main-info-header {
  background: #3178a8;
  color: #ffffff;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: inherit;
  padding: 4px 0 4px 18px;
  position: relative;
  min-height: 14px;
}

h2.main-info-header.innactive {
  background-color: #C4C4C4;
}

h2.main-info-header span {
  font-weight: bold;
}

h2.main-info-header.allow-toggle {
  cursor: pointer;
}

h2.allow-toggle:before {
  background: url('https://data.fantlab.ru/images/arrow_state_grey_right.png');
  height: 16px;
  width: 16px;
  content: ' ';
  position: absolute;
  top: 3px;
  left: 2px;
}

div.main-info-block.collapsed .main-info-header:before {
  background: url('https://data.fantlab.ru/images/arrow_state_grey_expanded.png');
}

div.main-info-block.collapsed .main-info-detail {
  display: none !important;
}

div.main-info-detail {
  margin-top: 3px;
  border:1px solid #D8E1E6;
  background-color: #F9FAFB;
  min-height: 60px;
  padding: 8px 8px 16px 8px;
}
